*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header y Navbar*/
.header-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.75rem 1.5rem;
    background: linear-gradient(135deg, #3450cc 0%, #612b96 100%);
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
    font-family: "Momo Trust Display", sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 9999;
}
.navbar {
    margin-left: 5px;
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
.navbar li {
    margin: 0 5px;
    text-transform: uppercase;
    width: max-content;
    display: inline-block;
    font-family: "Momo Trust Display", sans-serif;
}
.navbar li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    color: white;
    padding: 5px;
}
.navbar li a:hover{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    color: white;
    background-color: rgba(0, 0, 0,0.1);
    border-radius: 5px;
}
.nav-toggle {
    color: black;
    background: none;
    border: none;
    display: none;
}
/* Fin */

/* hero wrap section */
.hero-wrap{
    display: flex;
    flex-wrap: nowrap;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #3450cc 0%, #612b96 100%);
    color: white;
    gap: 10px;
}
.hero-content {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction:column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding: 10px;
    font-size: 2.5rem;
    
}
.hero-text p {
    letter-spacing: 1.5px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.style-text{
    font-weight: bold;
}
.btn {
   width: 80%; 
   display: flex;
   flex-direction: row; 
   justify-content: space-around;
   gap: 10px;
   
}
.btn button {
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: #3450cc;
    border: 1px solid #3450cc;
    font-family: "Momo Trust Display", sans-serif;

}
.btn button a {
    color: white;
    text-decoration: none;
}
.btn button:hover{
    background: linear-gradient(135deg, #3450cc, #612b96);
    border: 1px solid white;
}
.hero-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100vh
}
.hero-img img{
    width: 70%;
    box-shadow: 3px 3px 10px 1px black;
    border-radius: 50px 4px 50px 4px;
}




/*Proyectos*/
.proyectos {
    min-height: 100vh;
    width: 100%;
    background:linear-gradient(135deg,#612b96, #3450cc);
}
.contenedor-proyectos{
    font-family: "Momo Trust Display", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 20px;
    color: white;

}
.contenedor-proyectos h2 {
    font-size: 3rem;
}

/*form*/

.contenedor-formulario {
    min-height: 100vh;
    width: 100%;
    background:linear-gradient(135deg,#612b96, #3450cc);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.text-footer{
    color: white;
    display: flex;
    flex-direction: column;
}
.text-footer h2{
    font-size: 3rem;
}
.text-footer p {
    margin-left: 90px ;
    font-size: 1.7rem ;
}
.formulario {
    font-family: "Momo Trust Display", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    width: 70%;
    background-color: rgba(97, 43, 150,0.7);
    gap: 12px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px black; ;
    color: white;
}
.formulario label{
    padding: 5px;
    border-radius: 4px ;
}

.formulario label:hover {
    background-color: rgba(0, 0, 0,0.3);
    text-decoration: underline;
}

.formulario input  {
    border-radius: 5px;
    border: none;
    padding: 5px;
    outline: none;
}
.formulario textarea{
    border-radius: 5px;
    border: none;
    padding: 5px;
    outline: none;
    max-width: 90% ;
}
.formulario button{
    font-family: "Momo Trust Display", sans-serif;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: #4334cc7a;
    cursor: pointer;
    color: white;
    border: 1px solid white;
}
.formulario h2{
    font-size: 2.5rem;
    text-decoration: underline;
}
/*fin*/

/*footer*/
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background: linear-gradient(135deg, #3450cc 0%, #612b96 100%);
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 9999;
}


/*fin*/

/*media queries*/
@media (max-width: 768px) {
    
    .hero-wrap {
        align-items: center;
        flex-direction: column;
        gap: 0; /* Elimina espacio entre hijos */
    }

    .hero-content{
        align-items: center;
        width: 90%; /* Ocupa todo el ancho */
        height: auto; /* Evita bloques gigantes */
        padding-bottom: 5px;
    }
    .hero-img {
        width: 90%; /* Ocupa todo el ancho */
        height: auto; /* Evita bloques gigantes */
        
    }
    .hero-img img{
        margin: 20px 0;
    }
    .hero-text {
        padding: 5px;
        gap: 0;
        width: 90%;
        font-size: 1.5rem;
    }

    .nav-toggle {
        display: flex; /* Mostrar botón del menú */
        cursor: pointer;
        color: white;
    }

    .navbar {
        display: none; /* Oculta el menú por defecto */
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(135deg, #3450cc 0%, #612b96 100%);
        padding: 10px 0;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        z-index: 100;
        border-radius: 0px 0px 10px 10px;
        margin: 0;
    }

    .navbar.active {
        display: flex; /* Se muestra cuando se activa */
    }

    .navbar li {
        margin: 10px 0;
    }
    .contenedor-formulario {
        flex-direction: column;
        
    }
    .text-footer{
        text-align: center;
    }
    .text-footer p {
        margin: 0;
        margin-top: 10px;
    }
}